{{ $static_path := path.Join (.Page.File.Dir) "/code/" (.Get "fname") }}
{{ $dynamic_path := path.Join "code/" (.Get "fname")}}
{{ $highlight := .Get "highlight" }}

<div class="file" data-code-type="main" data-code-path="code/{{ .Get "fname" }}" data-start-line=1>
    <div class="file-header">
        <a href={{ $dynamic_path }} download="{{ .Get "fname" }}">{{ .Get "fname" }}</a>
        {{ partial "version-tooltip.html" . }}
    </div>

    {{ $file := readFile $static_path | safeHTML }}
    {{ highlight $file (.Get "lang") (printf "lineNos=true,hl_lines=%s" $highlight)}}

</div>
