{{ $fname := printf "%s.chpl" .Page.File.ContentBaseName }}
{{ $static_path := path.Join (.Page.File.Dir) "/code/" $fname }}

<div class="file" data-code-type="main">
    <details>
        <summary class="file-header">
            <a href="./code/{{ $fname }}" download="{{ $fname }}">{{ $fname }}</a>
            {{ partial "version-tooltip.html" . }}
        </summary>
        {{ $file := readFile $static_path | safeHTML }}
        {{ highlight $file "chpl" "lineNos=true"}}
    </details>
</div>
