                                                                                                             
                                                                                                             
                                                                                                             
                                                                                                             
                                                                        *                                    
                                                                    * * * * * *                              
                                                          * * * * * * * * * * * * *                          
                                                      * * * * * * * * * * * * * * * * * *   *                
                                * * * *           * * * * * * * * * * * * * * * * * * * * *       *          
                              * * * * * * *     * * * * * * * * * * * * * * * * * * * * * * *                
                            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *                
                        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *                    
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *                            
                        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *                    
                            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *                
                              * * * * * * *     * * * * * * * * * * * * * * * * * * * * * * *                
                                * * * *           * * * * * * * * * * * * * * * * * * * * *       *          
                                                      * * * * * * * * * * * * * * * * * *   *                
                                                          * * * * * * * * * * * * *                          
                                                                    * * * * * *                              
                                                                        *                                    
                                                                                                             
                                                                                                             
                                                                                                             
                                                                                                             
Elapsed time for kernel execution: 0.006389
__BREAK__
