@import "variables.scss";
@import "mixins.scss";
@import "margin.scss";

$sidenote-padding: 1rem;
$sidenote-highlight-border-width: $standard-border-width;

.sidenote {
    &:hover {
        .sidenote-label {
            background-color: $primary-color;
            color: white;
        }

        .sidenote-content {
            border: $sidenote-highlight-border-width solid;
            padding: $sidenote-padding -
                ($sidenote-highlight-border-width - $standard-border-width);
            border-color: $primary-color;
            box-shadow: 0 0 0.4rem rgba(darken($primary-color, 20%), 0.3);
        }
    }
}

.sidenote-label {
    border-bottom: .2rem dashed $primary-color;
}

.sidenote-checkbox {
    display: none;
}

.sidenote-content {
    @include margin-content;
    @include bordered-block;
    margin-top: -1.5rem;
    padding: $sidenote-padding;
    text-align: left;

    font-family: $font-body;
    font-size: 1.0rem;
    font-style: normal;
    color: black;

    &.sidenote-right {
        @include margin-content-right;
    }

    &.sidenote-left {
        @include margin-content-left;
    }
}

.sidenote-delimiter {
    display: none;
}

@mixin hidden-sidenote {
    position: static;
    /* use of !important here to override HTML styling created by sidenote
       shortcode from markdown content. */
    margin-top: 1rem !important;
    margin-bottom: 1rem;
    width: 100%;

    .sidenote-checkbox:checked ~ & {
        display: block;
    }
}

@include below-two-margins {
    .sidenote-content.sidenote-left {
        @include hidden-sidenote;
        margin-left: 0rem;
    }
}

@include below-one-margin {
    .sidenote-content.sidenote-right {
        @include hidden-sidenote;
        margin-right: 0rem;
    }
}
