@import "variables.scss";
@import "mixins.scss";
@import "margin.scss";

$toc-color: $code-color;
$toc-border-color: darken($code-color, 10%);

.table-of-contents {
    @include margin-content;
    @include margin-content-left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;

    @media (prefers-reduced-motion: no-preference) {
      &.sticky {
        top: 0;
        bottom: 0;

        div.wrapper {
          position: sticky;
          top: $margin-inner-offset + $container-min-padding;

          &.overfull {
              position: relative;
              top: auto;
          }
        }
      }
    }

    span.header {
        font-style: normal;
        font-weight: 500;
        font-size: 1.2em;
        display: block;
        margin-bottom: 0.5rem;
    }

    #TableOfContents > ul {
        padding-left: 0;
    }

    nav {
        margin: 0px;
    }

    ul {
        list-style: none;
        padding-left: 2rem;
        margin: 0px;
    }

    a {
        margin: 0.25rem .75rem 0.25rem 0;
        text-decoration: none;
        color: black;
        display: inline-block;
        border-bottom: none;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        white-space: normal;
        text-indent: -0.5em;
        margin-left: 0.5em;
        position: relative;
    }

    li.current > a::before {
        content: "▸";
        display: inline-block;
        position: absolute;
        left: -.75em;
    }

    div.wrapper {
        @include bordered-block;
        padding: 1rem;
        background-color: $toc-color;
        border-color: $toc-border-color;
        box-sizing: border-box;
        max-width: 100%;
    }
}
